@font-face {
  font-family: Maison Neue;
  src: url(Fonts/maisonneue-light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: Maison Neue;
  src: url(Fonts/maisonneue-book.ttf);
  font-weight: 300;

}

@font-face {
  font-family: Maison Neue;
  src: url(Fonts/maisonneue-bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Maison Neue;
  src: url(Fonts/maisonneue-mono.ttf);
  font-weight: 100;
}


body {
  background: #FFFFFF;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

a {
  text-decoration: underline;
  text-decoration-style: solid;
  color: black;

}

#root {

  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  justify-content: space-between;

  margin: auto;

}

#blurbBlock {

  display: block;
  align-items: center;
  position: relative;
  width: auto;
  height: 250px;
  margin-top: 100px;
  font-family: Maison Neue;
  font-weight: 100;

}

#projectTitle {
  font-family: Maison Neue;
  font-weight: 100;
  margin-bottom: 0;
}

.description {

  display: relative;
  font-size: 18px;
  line-height: 20px;
}

#graphBlock {
  display: block;
  align-items: center;
  width: auto;
  height: auto;

}

svg {

  width: auto;
  height: auto;
  display: block;
  margin: auto;
  position: sticky;

}
